body {
  background-color: var(--mainGrayLight);
  font-family: var(--fontRoboto);
  color: var(--mainTextBlack);
}

.header {
  display: flex;
  order: 1;
  flex-grow: 0;
  padding: 30px;
  color: #303031;
  justify-content: space-between;
  border-bottom: 2px solid #e5e5e5;
  /* background: #E5E5E5; */
}
.logo {
  display: flex;
  gap: 8px;
}

.header h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.top_menu {
  display: flex;
  gap: 40px;
  align-items: center;
}
.top_menu li a {
  font-family: var(--fontRoboto);
  font-weight: 600;
  font-size: 18px;
  line-height: 44px;
  gap: 40px;
  height: 21px;
  display: flex;
  align-items: center;
  color: #303031;
}

.top_menu li:last-child a {
  color: #71a894;
}
.header-bottom {
  display: flex;
  align-items: center;
  padding: 31px;
}
.header-bottom-left h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 80px;
}
.header-bottom-left p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 64px;
  background: #71a894;
  border-radius: 8px;
  color: #fff;
  font-family: var(--fontRoboto);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  border: none;
  margin-top: 39px;
}
.container h3 {
  color: #303031;
  max-width: 895px;
  height: 64px;
  font-family: var(--fontRoboto);
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  gap: 24px;
}
.container p {
  font-family: var(--fontRoboto);
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  align-items: center;
}

.section_one_container {
  display: flex;
  gap: 23px;
  padding: 56px;
  justify-content: center;
}
.Card {
  width: 427px;
  height: 340px;
  left: 0;
  top: 0;
  background: #ffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.Card h1 {
  width: 199px;
  text-align: center;
  right: 114px;
  font-family: var(--fontRoboto);
  font-weight: 700;
  line-height: 32px;
  align-items: center;
  color: #303031;
  /* margin-left: auto;
   margin-right: auto; */
}
.Card p {
  width: 379px;
  height: 52px;
  text-align: center;
  font-family: var(--fontRoboto);
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  align-items: center;
  color: #303031;
}

.Card2 p {
  width: 199px;
  text-align: center;
  right: 114px;
  font-family: var(--fontRoboto);
  font-weight: 700;
  line-height: 32px;
  align-items: center;
  color: #303031;
}
.Logo2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80px;
  height: 80px;
  left: 0px;
  top: 0px;
  border-radius: 100px;
}
.main {
  display: flex;
  gap: 138px;
  padding: 0px 118px 0px 56px;
}
.textts {
  display: flex;
  flex-direction: column;
}
.textts img {
  border-radius: 100px;
  background: #f3f0ea;
  height: 80px;
  width: 80px;
}
.icon1_text {
  margin-left: 56px;
}
.Logo2 p {
  width: 644px;
  height: 128px;
  font-family: var(--fontRoboto);
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  color: #303031;
  display: flex;
  margin-left: 56px;
}

.box_1 {
  width: 484px;
  height: 400px;
  margin-left: 838px;
  border-radius: 16px;
  border: 4px solid #303031;
  background: #ffff;
}
.box_1 {
  width: 133px;
  height: 40px;
  left: 40px;
  top: 32px;
  font-family: var(--fontRoboto);
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.02em;
  color: #303031;
}

.ana-qutu {
  display: flex;
}
.ana-qutu2 {
  display: flex;
  position: relative;
  align-items: center;
  gap: 186px;
  padding: 0px 54px 0px 80px;
  margin-top: 100px;
}

.qutu {
  width: 484px;
  height: 400px;
  background: #ffffff;
  border: 4px solid #303031;
  border-radius: 16px;
  padding: 40px;
}

.qutu p {
  font-family: var(--fontRoboto);
  font-weight: 700;
  font-style: normal;
  line-height: 40px;
  letter-spacing: -0.02em;
  color: #303031;
}
.qutu h1 {
  width: 107px;
  height: 26px;
  font-family: var(--fontRoboto);
  font-style: italic;
  font-weight: 100;
  line-height: 26px;
  letter-spacing: -0.02em;
  color: #303031;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.qutu img {
  border-radius: 50%;
}
.qutu .box {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 32px;
}
.span {
  width: 89px;
  height: 26px;
  font-family: var(--fontRoboto);
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.02em;
  color: #303031;
}

.text h1 {
  width: 126px;
  height: 32px;
  font-family: var(--fontRoboto);
  font-style: normal;
  font-weight: 100;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.02em;
  color: #303031;
  display: flex;
}
.qutuu {
  display: flex;
  width: 484px;
  height: 400px;
  background: #ffffff;
  border: 4px solid #303031;
  border-radius: 16px;
  padding: 40px;
  gap: 16px;
  flex-direction: column;
  z-index: 999;
}
.ana-qutu2 .grid_svg {
  margin-left: -50px;
  margin-bottom: -50px;
}
.qutuu img {
  border-radius: 100px;
}
.qutuu p {
  height: 24px;
  font-family: var(--fontRoboto);
  font-weight: 100;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #303031;
}
.text_p p {
  height: 48px;
  font-family: var(--fontRoboto);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #303031;
}
.box-parent {
  display: flex;
  gap: 10px;
}
.box-parent1 {
  display: flex;
  gap: 10px;
}
.box-parent2 {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: start;
}
.box-heat {
  display: flex;
  align-items: center;
  gap: 20px;
}
.grid_svg {
  position: absolute;
  max-width: 292px;
  max-height: 292px;
}
.text_body {
  display: flex;
  margin-bottom: 32px;
  gap: 100px;
}
.text-items {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.heat-title {
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 16px !important ;
  line-height: 24px !important;
  letter-spacing: -0.02em !important;
  color: #66645e;
  text-align: left !important;
}
.simple-title {
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 24px !important;
  line-height: 32px !important;
  letter-spacing: -0.02em !important;
  color: #303031;
}

.card_button {
  width: 100%;
  min-height: 56px;
  background: #303031;
  border-radius: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.02em;
  color: #ffffff;
}

.texts-items {
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  color: #303031;
  width: 49%;
}

.title_body {
  display: flex;
  justify-content: center;
}

.title {
  width: 70%;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #303031;
  margin-top: 24px;
}
.header-bottom-text {
  margin-top: 24px;
}

.textt {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  gap: 24px;
}

.text-sub-title {
  font-style: normal !important;
  font-weight: 800 !important;
  font-size: 48px !important;
  line-height: 64px !important;
  color: #303031 !important;
}

.textt .description {
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 18px !important;
  line-height: 26px !important;
  letter-spacing: -0.02em !important;
  color: #303031 !important;
}

.lotTableBody {
  display: flex;
  align-items: center;
  gap: 46px;
  padding: 0px 61px 184px 56px;
  margin-top: 171px;
}

.leftShare {
  display: flex;
  flex-direction: column;
  max-width: 644px;
}

.leftShareText {
  font-style: normal !important;
  font-weight: 800 !important;
  font-size: 48px !important;
  line-height: 64px !important;
  color: #303031 !important;
  margin-top: 24px !important;
}

.leftShareTitle {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.02em;
  color: #303031;
  margin-top: 24px !important;
}

.logo11 {
  max-width: 80px;
  max-height: 80px;
}

.rightShare {
  display: flex;
  flex-direction: column;
  gap: 13px;
  width: 100%;
}

.tableTop {
  width: 100%;
  background: #ffffff;
  border: 4px solid #303031;
  border-radius: 16px;
  padding: 24px 62.5px 48px 59.5px;
}

.shareBody {
  display: flex;
  justify-content: space-between;
}

.shareText {
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 18px !important;
  line-height: 24px !important;
  letter-spacing: -0.02em !important;
  color: #303031 !important;
}

.shareButton {
  width: 79px;
  height: 32px;
  background: #71a894;
  border-radius: 40px;
  border: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.text-p {
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  letter-spacing: -0.02em !important;
  color: #303031 !important;
  margin-top: 12px !important;
  max-width: 404px;
}
.tableBottom {
  display: flex;
  gap: 12px;
}
.tableBotttomLeft {
  background: #f3f0ea;
  border: 4px solid #303031;
  border-radius: 16px;
  padding: 32px 0px 32px 40px;
  max-width: 381px;
  min-width: 381px;
}

.applacationText {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.02em;
  color: #303031;
}
.imgBody {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 24px;
}

.imgBody img {
  border-radius: 50%;
}

.imgBody div {
  font-style: italic;
  font-weight: 100;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.02em;
}

.tableBotttomRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #ffffff;
  border: 4px solid #71a894;
  border-radius: 16px;
  padding: 24px;
  width: 100%;
  text-align: center;
}

.tableBotttomRight img {
  min-width: 72px;
  min-height: 72px;
  border-radius: 50%;
  margin-bottom: 16px;
}

.name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #303031;
  margin-bottom: 4px;
}

.workname {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #66645e;
}

.workcommit {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #303031;
  margin-top: 16px;
  text-align: left;
}

.profileButton {
  width: 100%;
  height: 44px;
  background: #303031;
  border-radius: 16px;
  border: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #ffffff;
  margin-top: 16px;
}

.userImg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.enterPriseShare {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.enterText {
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: var(--textColor);
  margin-bottom: 24px;
}

.enterText2 {
  margin-bottom: 48px;
  font-style: normal;
  font-weight: 400;
  font-size: var(--mediumSize);
  line-height: 26px;
  text-align: center;
  letter-spacing: -0.02em;
  color: var(--textColor);
}

.enterCardBody {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--largeSize);
}

.enterCard {
  width: 427px;
  height: 216px;
  background: var(--whiteColor);
  padding: 24px 24px 28px 24px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: var(--smallSize);
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: start;
}

.enterCardTitle {
  font-style: normal;
  font-weight: 700;
  font-size: var(--mediumSize);
  line-height: var(--largeSize);
  letter-spacing: -0.02em;
  color: var(--textColor);
  margin-bottom: var(--smallSize);
}

.enterCardDescription {
  font-style: normal;
  font-weight: 500;
  font-size: var(--smallSize);
  line-height: var(--largeSize);
  letter-spacing: -0.02em;
  color: var(--textColor);
  margin-bottom: var(--largeSize);
}

.Cardbottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.enterCardButton {
  width: 68px;
  height: 32px;
  background: var(--activeColor);
  border-radius: 40px;
  border: 0;
  font-style: normal;
  font-weight: 500;
  font-size: var(--smallSize);
  line-height: var(--largeSize);
  letter-spacing: -0.02em;
  color: var(--whiteColor);
}

.cardAppareance {
  font-style: italic;
  font-weight: 100;
  font-size: var(--smallSize);
  line-height: 24px;
  text-align: right;
  letter-spacing: -0.02em;
  color: #303031;
}

.moreButton {
  width: 134px;
  height: 64px;
  background: var(--textColor);
  border-radius: 8px;
  font-style: normal;
  font-weight: 700;
  font-size: var(--mediumSize);
  line-height: 24px;
  text-align: center;
  color: var(--whiteColor);
  border: 0;
  margin-top: 64px;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px 56px 44px 56px;
  margin-top: 44px;
}

footer .footerTop {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  padding: 0px 0px 126px 0px;
  align-items: center;
}

.footerTopText {
  font-style: normal;
  font-weight: 800;
  font-size: var(--ultiSize);
  line-height: 64px;
  color: var(--textColor);
  margin-bottom: var(--largeSize);
}

.footerTopDescription {
  font-style: normal;
  font-weight: 400;
  font-size: var(--mediumSize);
  line-height: 26px;
  letter-spacing: -0.02em;
  color: var(--textColor);
  margin-bottom: 40px;
}

.footerButton {
  background: var(--activeColor);
  border-radius: 8px;
  border: 0;
  width: 220px;
  height: 64px;
  font-style: normal;
  font-weight: 700;
  font-size: var(--mediumSize);
  line-height: 24px;
  color: #ffffff;
}
.footerBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-style: normal;
  font-weight: 700;
  font-size: var(--largeSize);
  line-height: 33px;
  letter-spacing: -0.04em;
  color: var(--textColor);
}

footer nav ul {
  display: flex;
  align-items: center;
  gap: 40px;
}

footer nav ul li a {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: -0.02em;
  color: var(--textColor);
}
footer nav ul li:last-child a {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: -0.02em;
  color: var(--activeColor);
}
